html {
    background-color: lightcyan;
}

header {
    display: block;
    color: goldenrod
}

p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 10px 12px;
    color: lightcoral;
    width: 1000px;
}

.navigation {
    font-size: 25px;
    align-content: center;  /*** now sure how to use this line ***/
}

img {
    max-width: 100%;
    max-height: 100%;
    padding: 10px;
}

.picture {
    height: 400px;
    width: 1000px;
}

#admin1 {
    font-style: oblique;
    font-size: 20px;
    font-weight: bold;
}